<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form class="input-group" (ngSubmit)="getLink(getLinkForm.value)" style="margin-top:30px;" #getLinkForm="ngForm">
      <input type="text" name="nameOfThePerson" [(ngModel)]="nameOfThePerson" placeholder="Enter name to get a sendable link" class="form-control">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" style="cursor:pointer">Get Link</button>
      </span>
    </form>
    <br>
    <div *ngIf="clickedGetLink">
      <div>Sendable Link:</div>
      <div class="input-group">
        <input [(ngModel)]="sendableLink" #sendableLinkInput class="form-control" readonly>
        <span class="input-group-btn">
          <button class="btn btn-primary" [ngxClipboard]="sendableLinkInput" [class.btn-success]= "clickedCopyLink" (cbOnSuccess)="clickedCopyLink = true" style="cursor:pointer">Copy Link</button>
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>