<div class="page1">
  <div class="row">
    <div class="col-md-3 col-1"></div>
    <div class="col-md-6 col-10">
      <div class="text-center typeWriter">
        <typewriter [contents]="contents" [erasable]="false" [beforeType]="500" [beforeStart]="0" [afterEnd]="1000" [delay]="0"
        [speed]="40" [cursor]="'|'" [cursorDelay]="-1">
        </typewriter>
      </div>
    </div>
    <div class="col-md-3 col-1"></div>
  </div>
  <div class="row" style="margin-top:10%; margin-left:0px;margin-right:0px;">
    <div class="col-md-3 col-1"></div>
    <div class="col-md-6 col-10" style="padding:10px 10px 10px 10px;background-color:white">
      <form class="input-group">
        <input type="text" name="typedInput" placeholder="Talk to Me" class="form-control">
        <span class="input-group-btn">
          <a scrollTo href="#page2">
          <button type="submit" (click)="togglePage2()" class="btn btn-secondary" style="cursor:pointer">Talk</button>
          </a>
        </span>
      </form>
    </div>
    <div class="col-md-3 col-1"></div>
  </div>
</div>
<div class="page2" *ngIf="talkButtonClicked" id="page2">

</div>