.typeWriter{
  color: white;
  font-size: 1.1em;
}
.page2{
  background-color: white;
  height: 100%;
}
.page1{
    padding-top: 20px;
    background-color: crimson;
    height: 100%;
}
.bigFont{
  font-size: 5em;
  color:yellow;
}

