<div class="page1">
  <div class="row" style="margin-left:0px;margin-right:0px;">
    <div class="col-md-3 col-1"></div>
    <div class="col-md-6 col-10">
      <div class="text-center typeWriter">
        <typewriter [contents]="contents" [erasable]="false" [beforeType]="500" [beforeStart]="0" [afterEnd]="1000" [delay]="0"
        [speed]="40" [cursor]="'|'" [cursorDelay]="-1">
        </typewriter>
        <div [hidden]="!hideFirstTalkInputBox">
          <h3 style="margin-top: 30px;">Hope You Had Fun Using This Application!</h3>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-1"></div>
  </div>
  <div class="row" style="margin-top:10%; margin-left:0px;margin-right:0px;">
    <div class="col-md-3 col-1"></div>
    <div class="col-md-6 col-10">
      <div [hidden]="hideFirstTalkInputBox" style="padding:10px 10px 10px 10px;background-color:white">
        <form autocomplete="off" class="input-group" #talkForm="ngForm">
          <input type="text" name="typedInput" [(ngModel)]="typedInput" placeholder="Talk to Me" class="form-control talkInput" #talkInput1>
          <span class="input-group-btn">
            <a scrollTo href="#page2">
            <button type="submit" (click)="initialTalk(talkForm.value)" class="btn btn-secondary" style="cursor:pointer">Talk</button>
            </a>
          </span>
        </form>
      </div>
    </div>
    <div class="col-md-3 col-1"></div>
  </div>
</div>
<div class="page2" *ngIf="talkButtonClicked" id="page2">
  <div class="row" style="padding-top:30px;">
    <div class="col-md-3 col-1"></div>
    <div class="col-md-6 col-10">
      <form autocomplete="off" class="input-group" #talkForm="ngForm">
        <input type="text" name="typedInput" [(ngModel)]="typedInput" placeholder="Talk to Me" class="form-control talkInput" #talkInput2>
        <span class="input-group-btn">
          <button type="submit" (click)="talkToKruti(talkForm.value)" class="btn btn-secondary" style="cursor:pointer">Talk</button>
        </span>
      </form>
      <div>
        <div *ngIf="chatArray.length > 0" style="padding-top:20px;">
          <div class="row">
            <div class="col-md-2 col-1"></div>
            <div class="col-md-8 col-10">
              <ul>
                <li *ngFor="let chat of chatArray;let index=index">
                  <div *ngIf="index%2==0">You:</div>
                  <div *ngIf="index%2!=0">Kruti-AI:</div>
                  <div>{{chat}}</div>
                </li>
              </ul>
            </div>
            <div class="col-md-2 col-1"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-1"></div>
  </div>
</div>